.navbar{
    background-color: #000;
    padding: 30px 0px 15px 0px;
}
.navbar ul{
    list-style: none;
}

.navbar ul li{
    display: inline;
    margin: 20px;
}

.navbar ul a{
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    transition: all 1s;
    position: relative;
}

.navbar ul li a .span1{
    position: absolute;
    background-color: #fff;
    width: 0;
    transition: all 1s;
    height: 1px;
    bottom: -2px;
    left: 0;
}

.navbar ul li a .span2{
    position: absolute;
    background-color: #fff;
    width: 0;
    transition: all 1s;
    height: 1px;
    top: -2px;
    right: 0;
}

.navbar ul a:hover .span1 ,.navbar ul a:hover .span2{
    width: 100%;
}